.wrapper {
    min-width:400px;
    max-width:400px;
    text-align:center;
    margin:0 auto;
}

.wrapperHome{
	min-width: 70%;
	margin:0 auto;
	text-align:center;
	max-width: 70%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

img{
	max-height:200px;
	max-width:200px;
		min-width:200px;
	min-height:200px;
}